*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .App{
    width: 100vw;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: 200vw 220vh;
    background-position: right;
    display:flex;
    align-items:center;
    justify-content:center;
  
  }
  .container{
    display: flex;
    width: 80vw;
    max-height: 180vh;
    background:rgba(255,255,255, 0.1);
    border-radius: 1rem;
    box-shadow: 0px 10px 17px 5px rgba(0,0,0,0.51);
    
  }
  .signup__leftcard{
    width: 50vw;
    height: 170vh;
   
    
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }
  .signup__leftcard-h1{
    font-size: 30px;
    font-weight: 800;
  }
  
  .signup__rightcard{
    width: 50vw;
    height: 170vh;
    margin-top: 2rem;
  }
  .signup__form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signup__form-label{
    display: block;
  }
  .signup__form-input {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 2px 4px;
    width: 400px;
    height: 30px;
  }
  .select{
    background-color: #fff;
    opacity: 50%;
  }
  .signup__form-label{
    opacity: 50%;
  }
  .signup__form-div{
    margin-block: 2rem;
  } 
  .signup__form-h1{
    margin-top: 1rem;
    font-size: 30px;
  }
  
  .iconline{
    border: 1px solid rgba(0,0,0,0.2);
    width: 50px;
    margin-top: 12px;
  }
  .signup__form-submit{
    width: 400px;
    height: 30px;
    background-color: rgba(21, 125, 243, 0.932);
    text-align: center;
    margin-top: 1rem;
   padding-top: 0.7rem;
   padding-bottom: 2rem;
   border-radius: 10px;
   font-weight: 800;
   color: #fff;
  }
  .already{
    /* text-align: center; */
    margin-left: 4rem;
   
  }
  .already-span{
    color: rgba(0,0,0,0.5);
  }
  
  
  