.modal-bg{
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal{
    margin: 200px auto;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-button{
    margin-top: 2rem;
    background-color: rgb(0, 153, 255);
    width: 400px;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
