/* tr{
 margin: 100px;
 background: #0d6efd08;
} */

/* input[type='file']{
  display:none;

}
.uploadFile{

    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
 
} */